<!-- Cart Start -->
<div class="container-fluid w-full pt-5">
    <div class="row px-xl-5">
        <div class="table-responsive mb-5">
            <table class="table text-center mb-0">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Tổng</th>
                        <th>Bỏ</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {{#each product}}
                        <tr>
                            <td class="align-middle text-left flex max-w-xl">
                                <img src="{{this.link}}" alt="" class="mr-0 w-32"> 
                                <a href="shop/{{this.slug}}" class="p-1 hide-content-1 m-0 text-lg font-bold">{{this.product}}<br><span class="hide-content-2 text-base font-normal">{{this.description}}</span></a>  
                            </td>

                            <td class="align-middle">{{currency this.price}}</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <a class="btn btn-sm btn-primary btn-minus" href="cart/pacth?type=minus&user_id={{this.user_id}}&product_id={{this.product_id}}">
                                        <i class="fa fa-minus"></i>
                                        </a>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary text-center" value="{{this.quantity}}">
                                    <div class="input-group-btn">
                                        <a class="btn btn-sm btn-primary btn-plus" href="cart/pacth?type=plus&user_id={{this.user_id}}&product_id={{this.product_id}}">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">{{currency this.to_price}}</td>
                            <td class="align-middle">
                                <a class="btn btn-sm btn-primary" href="cart/delete?product_id={{this.product_id}}&user_id={{this.user_id}}"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        {{else}}
                        <div>
                            <tr>
                                <td colspan="5">Không có sản phẩm trong giỏ hàng</td> 
                            </tr>
                        </div>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="flex w-full shadow rounded-lg overflow-hidden">
            <div class="card-header bg-secondary border-0">
                <h4 class="font-weight-semi-bold m-0 text-xl text-center">Giỏ hàng</h4>
            </div>
            <div class="w-100 border bg-white">
                <form class="" action="">
                    <div class="input-group justify-end">
                        <input type="text" class="form-control p-4 text-lg" placeholder="Mã giảm giá" style="max-width: 20%;">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Áp dụng</button>
                        </div>
                    </div>
                </form>

                <div class="card border-secondary mb-0 flex-row w-100">
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Tổng thanh toán ({{check count.count}} sản phẩm)</h6>
                            <h6 class="font-weight-medium">{{currency sum.sum}}</h6>
                        </div>
                        <div class="d-flex justify-content-between">

                            <h6 class="font-weight-medium">Phí vận chuyển</h6>
                            {{#if product}}
                                <h6 class="font-weight-medium">{{currency shipFee}} đ</h6>
                            {{else}}
                                <h6 class="font-weight-medium">0 đ</h6>
                            {{/if}}
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Tổng</h5>
                            <h5 class="font-weight-bold">{{currencySum sum.sum shipFee}} đ</h5>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="">Tiết kiệm</span>
                            <span class="">{{currency saveFee}}đ</span>
                        </div>
                        <button class="btn btn-block btn-primary my-3 py-3 w-48">Mua hàng</button>
                    </div>
                </div>
            </div>
        </div>            
    </div>
</div>
<!-- Cart End -->


<!-- Fixed Cart Start -->
<div class="container-fluid w-full pt-5 fixed" style="top: 350px; z-index: 10" id="cart-summary">
    <div class="row px-xl-5">
        <div class="flex w-full shadow rounded-lg overflow-hidden">
            <div class="card-header bg-secondary border-0">
                <h4 class="font-weight-semi-bold m-0 text-xl text-center">Giỏ hàng</h4>
            </div>
            <div class="w-100 border bg-white">
                <form class="" action="">
                    <div class="input-group justify-end">
                        <input type="text" class="form-control p-4 text-lg" placeholder="Mã giảm giá" style="max-width: 20%;">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Áp dụng</button>
                        </div>
                    </div>
                </form>

                <div class="card border-secondary mb-0 flex-row w-100">
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Tổng thanh toán ({{count.count}} sản phẩm)</h6>
                            <h6 class="font-weight-medium">{{currency sum.sum}} đ</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Phí vận chuyển</h6>
                            {{#if product}}
                                <h6 class="font-weight-medium">{{currency shipFee}} đ</h6>
                            {{else}}
                                <h6 class="font-weight-medium">0 đ</h6>
                            {{/if}}
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Tổng</h5>
                            <h5 class="font-weight-bold">{{currencySum sum.sum shipFee}} đ</h5>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <span class="">Tiết kiệm</span>
                            <span class="">{{currency saveFee}}đ</span>
                        </div>
                        <button class="btn btn-block btn-primary my-3 py-3 w-48">Mua hàng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fixed Cart End -->

<form action="shop/count-product" name="quantity-form"></form>


<script>
    document.addEventListener("DOMContentLoaded", ()=>{

        $(window).scroll(function(){
            var footer = document.getElementById("footer")
            if (window.scrollY >= document.body.scrollHeight - footer.scrollHeight - screen.height)
            {
                document.getElementById("cart-summary").style.display = "none"
            }
            else{
                document.getElementById("cart-summary").style.display = "block"
            }
        })
    })
</script>